.header {
  /* display: flex;
  flex-wrap: wrap; */
  grid-area: header;
  /* background-color: aqua; */
  /* position: relative; */
  outline: 10px solid red;
  /* background-image: url(./img/banner-header_doram.jpg); */
}
.container-itens {
  /* background-image: url(./img/banner-header_doram.jpg); */
  /* position: relative; */
  outline: 1px solid red;
  height: 30vh;
  overflow: hidden;
  min-height: 300px; /*é o que faz o background ser visivel*/
}
header .container-itens {
  position: relative;
}

header .container-itens .banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 3px solid red;
}

.logo img {
  /* display: flex; */
  width: auto;
  height: 160px;
  background-color: black;
}

.img-header img {
  max-width: 728px;
  position: absolute;
  outline: 1px solid blue;
  width: auto;
  height: -120%;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  /* max-width: 50%; */
  /* padding: 0;
  margin: 0; */
}

/*DIV QUE SEGURA TODOS DA LISTA*/
.lista-menu {
  display: flex;
  justify-content: end;
  /* width: 96%; */
}
/*É A UL DA LISTA*/
.nav-header {
  display: flex;
  flex-direction: column;
  /* width: 300px; */
  margin-top: 90px;
  position: relative;
}
/*fala com cada item de li*/
.nav-header li {
  display: flex;
  padding: 5px;
  height: 50px;
  margin-left: -9%;
  /* position: relative; */
}

.nav-header li:nth-child(2) {
  margin-left: -13.5%;
}

.migre-conta a {
  background: #00ed00;
  /* position: relative; */
}

/*ALGO ESTÁ DISTORCENDO MINHAS LETRAS E TUDO DENTRO DO QUADRADINHO, VER O QUE É!*/
.migre-conta a::after {
  content: "";
  position: absolute;
  display: block;
  top: -3px;
  right: 15px;
  background: url(/img/alert.png);
  background-size: 100%;
  width: 20px;
  height: 20px;
}

/*OBS: O QUE DEIXA MEU LOGO GRUDADO NO BANNER DE PATINHA É O POSITION: ABSOLUTE E O LEFT: 50%*/
/* .marca-rag { */
/* outline: 1px solid blue;
  position: absolute;
  left: 50%;
  bottom: 10%; */

/* width: auto; */
/* height: -120%; */

/* max-width: 735px; */

/* transform: translateX(-50%); */
/* max-width: 50%; */
/* padding: 0; */
/* margin: 0; */
/* } */
/*OBS: O QUE DEIXA MEU LOGO GRUDADO NO BANNER DE PATINHA É O POSITION: ABSOLUTE E O LEFT: 50%*/
.marca-rag img {
  outline: 1px solid blue;
  position: absolute;
  left: 40%;
  bottom: 13%;
  margin-left: -30%;
  /* margin-left: -762px; */
  max-width: 260px;
  /* width: auto; */
}

.download span {
  font-size: 1.2rem;
}
.compre span {
  font-size: 1.4rem;
}
.compre a {
  background: #00ff71;
}

.nav-header li:nth-child(3) {
  margin-left: -18%;
}

.compre a:hover {
  background-color: #01ffff !important;
}
.download > a {
  background: rgba(21, 210, 232, 0.4);
}

.header li a {
  width: 270px; /*largura do box verde <a>*/
  text-align: center;
  font-size: 1.6rem;
  font-weight: 800;
  /* box-sizing: border-box; */
  /* margin-bottom: 0px; */
  transform: skewX(-10deg); /*dá o efeito da borda diagonal*/
  font-family: "Signika", sans-serif;
  color: white;
  padding: 6px;
  /* background: #00ed00; */
  border: solid 3px #fff;
  /* margin-top: 10%; */
  transition: all 0.3s;
}
.header li a:hover {
  background-color: #01b7fd;
}
.download a:hover {
  background-color: #01b7fd;
}
